.navbar.navbar-light .navbar-nav .nav-item .nav-link {
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  margin-right: 0.3rem;
  border-radius: 0.2rem;
  color: rgba(0,0,0,0.7);
}
.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #000;
  background-color: rgba(0,0,0,0.05);
}
.navbar.navbar-light .navbar-nav .nav-item .nav-link.active {
  color: #000;
  background-color: rgba(0,0,0,0.05);
}
@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
.categorias a {
  color: #333;
}
.categorias a:hover {
  text-decoration: underline;
}
.categorias .cate-title {
  font-weight: bold;
}
.categorias .list-subc li:not(:last-child)>a:after,
.categorias .list-subc li:not(:last-child)>button:after {
  content: ",";
}
.categorias .list-subc li a {
  display: block;
  margin: 0 2px 2px 0;
  padding: 2px;
}
.categories .accordion-body {
  max-height: 350px;
  overflow-y: auto;
}
.link-content {
  position: relative;
}
.link-content .options {
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  z-index: 10000;
}
input.inputfile {
  position: absolute;
  top: -1000px;
}
.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  padding: 25px;
  border: 1px dashed rgba(0,0,0,0.4);
  border-radius: 3px;
  transition: 0.2s;
}
.choose-file-button {
  flex-shrink: 0;
  background-color: rgba(0,0,0,0.04);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}
.file-message {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.file-delete {
  position: absolute;
  top: 0;
  right: 0;
}
.modal:nth-of-type(even) {
  z-index: 1062 !important;
}
.modal-backdrop:nth-of-type(even) {
  z-index: 1061 !important;
}
